Checks: 'modernize-*,cppcoreguidelines-*,-modernize-use-trailing-return-type,-cppcoreguidelines-avoid-magic-numbers'

# Ignore everything except our own headers and tests
HeaderFilterRegex: '^(include/siddiqsoft/|tests/)'
